<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table view tab</title>

    <style>
        table {
          border-collapse:collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }
        
        th, td {
          text-align: left;
          padding: 14px;
        }
        
        tr:nth-child(odd) {
          background-color: #eae7e7;
        }
        button{
            
        }
    </style>

</head>
<body>
    <h2>Admission Details</h2>
<p>Admission details of Academic year 2023-24</p>

<label for="filter">Filter details by:</label>
<button style="height: 30px; width: auto; border-radius: 10px; border: none; border-bottom: 3px solid black; background-color:  rgb(211, 114, 114);color: rgb(0, 0, 0);">All</button>
<button style="height: 30px; width: auto; border-radius: 10px; border: none; border-bottom: 3px solid black; background-color: rgb(211, 114, 114);color: rgb(0, 0, 0);">Science</button>
<button style="height: 30px; width: auto; border-radius: 10px; border: none; border-bottom: 3px solid black; background-color:  rgb(211, 114, 114);color: rgb(0, 0, 0);">Commerce</button>
<button style="height: 30px; width: auto; border-radius: 10px; border: none; border-bottom: 3px solid black; background-color: rgb(211, 114, 114);color: rgb(0, 0, 0);">Humanities</button>


<table>
  <tr>
    <th>Admission_id</th>
    <th>Name of student</th>
    <th>Age</th>
    <th>Place</th>
    <th>Subject</th>
    <th>Guardian_name</th>
    <th>Date_of_Birth</th>
    <th>Contact_details</th>
  </tr>
  <tr>
    <td>101</td>
    <td>Ajith</td>
    <td>23</td>
    <td>pattom</td>
    <td>Science</td>
    <td>Rajesh</td>
    <td>10-03-2002</td>
    <td>34577785</td>
  </tr>
  <tr>
    <td>102</td>
    <td>Ajith</td>
    <td>23</td>
    <td>pattom</td>
    <td>Science</td>
    <td>Ravi</td>
    
    <td>10-03-2002</td>
    <td>34577785</td>
  </tr>
  <tr>
    <td>102</td>
    <td>Ajith</td>
    <td>23</td>
    <td>pattom</td>
    <td>Science</td>
    <td>Ramu</td>
    <td>10-03-2002</td>
    <td>34577785</td>
  </tr>
  
</table> 
</body>
</html>